extends typescript

# React
snippet rf
	export default function() {
		return (
			<>
				<${1:components} />
			</>
		)
	}
snippet rfa
	export default async function() {
		return (
			<>
				<${1:components} />
			</>		
		)
	}
